body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: #101828;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ec3f9e;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body > img {
    margin: 0 10px;
}

img {
    max-height: 250px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    color: #f9f9f9;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button {
    background-color: #ec3f9e;
    transition: .5s all;
}

.button:hover {
    cursor: pointer;
    scale: calc(1.05);
}