@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: url(https://i.imgur.com/6EulaZa.jpg);
    background-color: #101828;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ec3f9e;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body > img {
    margin: 0 10px;
}

img {
    max-height: 200px;
    margin-bottom: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  gap: 10px;
}

.box label {
  color: #f9f9f9;
}

.box input {
  font-size: 16px;
  width: 250px;
}

.box input, .box select, .box button {
  border-radius: 5px;
  padding: 8px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  border: none;
}

.box button {
  width: 100%;
  background-color: rgba(236, 63, 158, 0.6);
  color: #f9f9f9;
  transition: .5s all;
  margin-right: 10px;
}

.box button:hover {
  cursor: pointer;
  scale: calc(1.08);
  background-color: rgba(236, 63, 158, 0.8);
}

.result {
  margin: 10px auto;
  width: 300px;
  height: 50px;
}

.result p{
  background-color: rgba(20, 12, 36, 0.8);
  border-radius: 5px;
  padding: 20px;
  color: #f9f9f9;
  font-weight: 600;
}